{% extends 'layout.html' %}
{% block content %}
<h1>Dashboard of {{ user }}</h1>

{% if passwords %}
<table>
  <thead>
    <tr>
      <th>Website</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in passwords.items() %}
    <tr>
      <td>{{ key }}</td>
      <td>{{ value }}
      <button class="copy-btn" data-password="{{ value }}">Copy</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No passwords saved yet.</p>
{% endif %}

<a href="/add_password">Add a password</a>

<script>
    const copyBtns = document.querySelectorAll('.copy-btn');

    copyBtns.forEach(button => {
        button.addEventListener('click', () => {
            const password = button.dataset.password;
            
            navigator.clipboard.writeText(password)
                .then(() => {
                    button.textContent = 'Copied';
                    setTimeout(() => button.textContent = 'Copy', 2000);
                })
                .catch(err => console.error('Failed to copy:', err));
        });
    });

</script>
{% endblock %}
